<a href="https://colab.research.google.com/github/KSG722/class2022Spring/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])

a f f a
bc bcdef abc abcdef

index와 관련된 문제가 시험에 매우 많이 나올 것
print(s[1:3], s[1:], s[:3], s[:])에서
s[1:3]은 2번째 원소부터 (4번째 원소 전의 원소인) 3번째 원소까지 출력
s[1:]은 2번째 원소부터 끝까지
s[:3]은 처음부터 4번째 원소까지
s[:]은 전부 출력

In [ ]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

n[-3]은 뒤에서 3번째 원소
print(n[1:2], n[1:], n[:2], n[:])도 매우 중요한 index문제

In [ ]:
len(s)

6

len()는 원소의 길이를 측정하는 함수

In [ ]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

s[1] = b
s[3] = d
s[4:] = fe
s[4:]*10 = fe을 10번 반복

In [ ]:
s.upper()

'ABCDEF'

s.upper()는 s를 대문자로 만드는 함수.

In [ ]:
s = ' this is a house built this year.\n' 	
s

' this is a house built this year.\n'

s를 this is a house built this year.\n라는 텍스트로 바꿔준 것. 복잡해 보이지만 복잡한게 아님.

이에서는 s를 정의한 후 바로 s 명령어를 입력하니 s가 출력되었지만 s를 정의한 후 몇 줄 이상의 간격이 있을 땐 print() 함수를 활용해줘야 함

In [ ]:
result = s.find('house') 	    # index of first instance of string t inside s (-1 if not found)
result

11

result라는 변수를 s.find('house')라는 함수로 정의해준 것. 이 때 s.find('house')는 s 내에서 house를 찾으라는 함수.
이때 house는 12번째에 위치하므로 find함수의 값 = 11

In [ ]:
result = s.find('this')	    # index of last instance of string t inside s (-1 if not found)
result

1

s의 0번째 텍스트는 띄어쓰기. 따라서 find함수의 값이 1이 됨.

In [ ]:
s = s.strip()      	            # a copy of s without leading or trailing whitespace
s

'this is a house built this year.'

시작 시 빈칸을 지워주는 함수

In [ ]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

tokens이란 변수를 s.split(' ')이라는 함수로 정의한 것.
이 때 s.spilit(' ')은 s를 ' '를 기준으로, 즉 빈칸을 기준으로 쪼갠 후 list로 만드는 함수.

In [ ]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

'this is a house built this year.'

쪼갠 걸 다시 빈칸을 기준으로 합쳐주는 함수.
split과 join함수는 중요!

In [ ]:
s = s.replace('this', 'that')   # replace instances of t with u inside s
s

'that is a house built that year.'

this를 that을 바꿔주는 함수