<a href="https://colab.research.google.com/github/KSG722/class2022Spring/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing libraries

In [ ]:
import pandas as pd

pandas는 데이터베이스 형태의 데이터와와 엑셀 파일의 데이터 사이를 넘나들며 데이터를 보여주는 함수. 이 밖에도 데이터에 대한 정보를 제공하기도 함.

### Loading csv file

In [ ]:
df = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

read_csv : 해당 링크에 해당하는 csv 파일을 읽어옴. ","을 기준으로 seperate하여 데이터 프레임을 출력함.

In [ ]:
print(df.size); print(df.ndim); print(df.shape)

153000
2
(17000, 9)

앞서 가져온 df에 대한 상세정보들

size: 17000*9개의 셀들로 이루어져 있음
ndim : n- dimension, 즉 2차원.
shape : 17000 rows, 9 coloums

In [ ]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

기본적인 통계정보를 뽑아주는 describe 함수.

count : 몇 개의 정보가 있는지. 즉 longitude에 대한 정보가 17000개인 것.

mean : 평균
std : standard deviation
min/ max : 최소최대값
n % : 최소값에서 n %

### Saving to CSV

In [ ]:
df.to_csv('california_housing_train.csv')

~의 제목의 csv 형태로 파일을 저장하는 함수

### Constructing a DataFrame using dict

In [ ]:
# Some input data - a small sample of the iris dataset
data = {'sepal_length': [6.9, 6.9, 4.8, 5.4, 4.6],
        'sepal_width': [3.2, 3.1, 3.4, 3.0, 3.6],
        'petal_length': [5.7, 5.1, 1.9, 4.5, 1.0],
        'petal_width': [2.3, 2.3, 0.2, 1.5, 0.2],
        'species': ['virginica', 'virginica', 'setosa', 'versicolor', 'setosa']}

df = pd.DataFrame(data)
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

sepal 어쩌고저쩌고 등의 key word와 숫자형 데이터들이 value로 묶여있는 dict형태의 데이터

species에 해당하는 list는 column명 

pandas.DataFrame함수는 data에 해당하는 dict를 데이터프레임으로 전환시키는 함수. 

위에서는 csv파일은 dataframe으로 보았다면, 여기서는 dict변수를 dataframe 함수로 dataframe화하여 출력한 것

### Constructing a DataFrame using pd.Series

In [ ]:
sepal_length = pd.Series([6.9, 6.9, 4.8, 5.4, 4.6])
sepal_width = pd.Series([3.2, 3.1, 3.4, 3.0, 3.6])
petal_length = pd.Series([5.7, 5.1, 1.9, 4.5, 1.0])
petal_width = pd.Series([2.3, 2.3, 0.2, 1.5, 0.2])
species = pd.Series(['virginica', 'virginica', 'setosa', 'versicolor', 'setosa'])

df = pd.DataFrame({'sepal_length': sepal_length, 'sepal_width': sepal_width, 'petal_length': petal_length, 'petal_width': petal_width, 'SPECIES': species})
df

데이타프레임을 만드는 또다른 함수 Series.

각각의 변수를 따로 Series함수로 정의한 뒤,

pd.DataFrame({'sepal_length': sepal_length, 'sepal_width': sepal_width, 'petal_length': petal_length, 'petal_width': petal_width, 'SPECIES': species})에서 한꺼번에 dict를 만들어준 것. dict인지 아닌지는 { } 중괄호로 알 수 있음.

이처럼 데이타프레임을 만드는 방법은 총 3가지가 있다.

### Changing column names

In [ ]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

df의 columns명을 보는 함수

In [ ]:
# Change the columns
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

df의 columns명을 바꾸고 싶을 때 함수

### Accessing columns

In [ ]:
# Access one column 
df.loc[:, 'sepal_length']

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

: 의 의미 : 전부 다. 1st argument이므로 모든 행에 대한 정보를 가져오라는 뜻. 2nd argument은 열에 대한 지시어. 즉 sepal_length에 대한 열 정보를 가져옴.

In [ ]:
# Access one column (short-hand)
df['sepal_length']

위처럼 할 필요없고 간단히 이렇게 써도 됨.

In [ ]:
# Access one column (shortest-hand)
df.sepal_length

상동

In [ ]:
# Access two columns
df.loc[:, ['sepal_length', 'sepal_width']]

2nd argument를 이렇게 [ ] list화하면 2개의 열에 대한 정보를 가져올 수 있음.

In [ ]:
# Access two columns (short-hand)
df[['sepal_length', 'sepal_width']]

### Accessing rows

In [ ]:
# Access one row 
df.loc[3, :]

sepal_length           5.4
sepal_width            3.0
petal_length           4.5
petal_width            1.5
species         versicolor
Name: 3, dtype: object

3행 모든 열에 대한 정보 가져오기

In [ ]:
# Access two rows
df.loc[[3, 0], :]

In [ ]:
# Access a range of rows
df.loc[2:5, :]

   sepal_length  sepal_width  petal_length  petal_width     species
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

참고로 5행은 제외.

In [ ]:
# Filter keeping only rows with `sepal_length` > 5
df[df.sepal_length > 5]

sepal_length > 5 인 경우에 대해서만 출력

### Accessing a cell

In [ ]:
df.loc[:, 'sepal_length'][4]

4.6

sepal_length 중에서 [4]에 해당하는, 즉 5열의 row의 데이터를 가져와라

In [ ]:
df['sepal_length'][4]

4.6

In [ ]:
df.sepal_length[4]

4.6

상동

### Adding/Removing new columns

In [ ]:
df['new_column'] = 1
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,1
2,4.8,3.4,1.9,0.2,setosa,1
3,5.4,3.0,4.5,1.5,versicolor,1
4,4.6,3.6,1.0,0.2,setosa,1

새로운 column을 추가하고 1로 데이터를 채움

In [ ]:
df['new_column'] = [1, 2, 3, 4, 5]
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,2
2,4.8,3.4,1.9,0.2,setosa,3
3,5.4,3.0,4.5,1.5,versicolor,4
4,4.6,3.6,1.0,0.2,setosa,5

새로운 column에 1,2,3,4,5를 부여

In [ ]:
df = df.drop('new_column', axis=1) # axis=1: column
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

drop 함수는 column을 제거하는 함수.
이 때 axis는 제거해야할 데이터가 행인지 열인지를 알려주는 arge. 

axis = 0은 행 축 / axis =1은 열 축

### Adding/Removing new rows

In [ ]:
df.loc[5, :] = ''
df

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa
5

5이라는 제목의 row를 넣을 것. 이 때 blank로 모든 열 데이터를 채울 것.

In [ ]:
df = df.drop(5, axis=0) # axis=0: row
df

5를 제거할 것, 이 때 axis =0은 행 축을 의미하므로 5라는 제목을 가진 행 축을 drop(제거)하라,