<a href="https://colab.research.google.com/github/KSG722/class2022Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1; print(type(a))

<class 'int'>

int는 정수(소수점 아래 숫자 없음)

In [ ]:
b=1

In [ ]:
print(1)

1

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
b=3

In [ ]:
a = 1.1; print(type(a))

<class 'float'>

float는 숫자인데 소수점 아래가 있는 수

In [ ]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

In [ ]:
a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
e

In [ ]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])

<class 'list'>
1

In [ ]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

<class 'list'>
1
a
[3, '4']
4

print(a[2][1])은 a[2]라는 list에서 [1]에 해당하는 원소를 출력하겠다는 뜻. 따라서 a[2]에 해당하는 list인 [3,'4']에서 [1]에 해당하는 4라는 string이 출력됨

In [ ]:
a = [0,1,2,3,4,5,6,7,8]; print(a[0:5])

[0, 1, 2, 3, 4]

a[1:5]에서 ':' 옆의 5는 5를 제외하고 해당 원소 전까지만 출력하는 의미. 따라서 5번째 원소인 5 전까지만 출력이 된다

In [ ]:
a= [0,1,2,3,4,5]; print(a[0:-1])

[0, 1, 2, 3, 4]

-1은 마지막에서 첫번째 원소인 5를 의미. 따라서 이를 제외하고 해당 원소 직전에 위치한 4까지만을 출력한다

In [ ]:
a = 'abcd1234'; a[3:-1]

'd123'

In [ ]:
a=(1,2,3)

[ ]가 아니라 ( )로 묶게되면 list가 아니라 tuple이라는 유형으로 취급됨.

list와 달리, tuple의 경우 a[1] = x 라는 명령어를 통해 원소를 바꿀 수 없다.

중요한 정보를 실수로 바꾸는 상황을 막기 위한 정보 유형.

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])
print(a["c"])

<class 'dict'>
apple
2014

{ }로 묶여있는 이 데이터 유형은 dict.dictionary의 준말. key와 value가 쌍으로 이루어져 있음. 사전과 같은 데이터베이스를 생성하는 것.
a[1]에 해당하는 "a":"apple"를 서로 key어와 value어인 것. a는 apple을 의미하는 표제어의 역할을 하는 것. 따라서 print(a["a"])라는 명령어를 주면 apple이라는 value어가 출력되는 것.